.app-bar {
	display: grid;
	grid-template-columns: auto auto;
	position: sticky;
	top: 0px;
	z-index: 1;
	padding: 10px 0px;

	.profile {
		fill: #a8b2b9;
		cursor: pointer;
		text-align: right;
	}

	.logout {
		fill: #a8b2b9;
		cursor: pointer;
	}
}