.form-button {
	padding: 9px;
	cursor: pointer;
	border: 1px solid $color-border;
	border-radius: 4px;
	margin: 10px;
	font-family: $font-family-text;

	&:hover {
		background-color: $color-hover-button;
		box-shadow: -5px -2px 12px 0 #fff, 5px 7px 25px 0 rgb(0 0 0 / 10%);
	}
}