.chat-item__avatar {
	grid-area: avatar;

	&_margin-left {
		margin-left: 10px;
	}

	&_margin-right {
		margin-right: 10px;
	}

	img {
		width: 50px;
		border-radius: 20%;
		height: 50px;
		object-fit: cover;
	}
}

.profile-avatar {
	text-align: center;

	img {
		width: 150px;
		border-radius: 50%;
		height: 150px;
		object-fit: cover;
	}
}